<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="grft" value="https://grft.dev/eb89ad77-cdc1-4369-a6aa-0393d85b6a57__free" />
    <add key="account-graft" value="https://grft.dev/cce7a984-a3cc-4698-8092-1645846fee00__free" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="grft">
      <package pattern="graft.nuget.*" />
      <package pattern="Hypertube.*" />
    </packageSource>
    <packageSource key="account-graft">
      <package pattern="graft.nuget.accountservice" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
